<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chisw.iotdemo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_INPUT_DRIVERS" />

    <application
        android:name="com.chisw.iotdemo.application.IOTApplication"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="com.google.android.things" />

        <activity
            android:name="com.chisw.iotdemo.ui.splash.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.chisw.iotdemo.ui.main.MainActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>